
#info {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-ups {
	margin: 10px;
}

.info-ups img {
	width: 180px;
	height: 280px;
	border-radius: 50%;
	border: 7px solid #fff;
}

@media (min-width: 480px) {
	.info-ups {
		width: 100%;
	}
}

@media (min-width: 686px) {
	.info-ups {
		width: 40%;
	}
}

@media (min-width: 1024px) {
	.info-ups {
		width: auto;
	}
}